{% load static %}

{% block body %}
<style>
    tr-{text-align:center}
</style>
{% include 'recruiter_navigation.html' %}
<marquee style="font-family:monospace;font-size:25px;color:black;font-weight:bold;margin-top:1%">
    View All Jobs
</marquee>
<hr>
<div class="container">
<table class="table table-hover "id="example">
    <thead>
    <tr style="background-color:black;color:white">
        
            <th>S.No</th>
            <th>Job Title</th>
            <th>Creation Date</th>
       
    </tr>
    </thead>
    <tbody>
    {% for i in job %}
    <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.title}}</td>
            <td>{{i.creationdate}}</td>
        
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
